<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="/js/jquery.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
    {{#logged_in}}
    <header>
      <nav>
        <div class="nav-wrapper">
          <ul id="userdropdown" class="dropdown-content">
            <li><a href="../profile/{{id}}">Profile</a></li>
            <li><a href="../settings/{{id}}">Settings</a></li>
            <li class="divider"></li>
            <li><a href="../logout/{{id}}">Log Out</a></li>
          </ul>
          <a href="index" class="brand-logo">OPEN FDA</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="dashboard">Dashboard</a></li>
            <li><a href="../druginfo/{{id}}">Drug Info</a></li>
            <li><a href="../visuals/{{id}}">Visualizations</a></li>
            <li><a href="../professionals/{{id}}">Professionals</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="userdropdown">Account<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!--     <div class="container"> -->
    <div class="row">
      {{#drugs}}
      <div class="col s4">
        <div class="card-panel grey lighten-5">
          <h5 class="grey-text darken-3">Drug Name : {{drug_name}}</h5>
          <h5 class="grey-text darken-3">Rx Date   : {{rx_date}}</h5>
          <h5 class="grey-text darken-3">Picked Up : {{picked_up}}</h5>
          <h5 class="grey-text darken-3">Exp Date  : {{exp_date}}</h5>
          <h5 class="grey-text darken-3">Prescriber: {{prescribing_dr}}</h5>
          <h5 class="grey-text darken-3">Phone No  : {{dr_phone}}</h5>
          <a class="waves-effect waves-light btn center-align" href="#">See Drug Details</a>
          <a class="btn-floating small waves-effect waves-light teal" href="#"><i class="material-icons">mode_edit</i></a>
          <a class="btn-floating small waves-effect waves-light red" href="#"><i class="material-icons">delete</i></a>
        </div>
      </div>
      {{/drugs}}
    </div>
    <div class="container">
      <h4 class="addRx">Add a New Prescription</h4>
      <fieldset class="rx_info">
        <legend>Rx Information</legend>
        <form method="POST" action="/dashboard/{{id}}">
          <div class="row">
            <form class="col s12">
              <div class="input-field col s6">
                <input id="icon_prefix" name="drug_name" id="drug_name" type="text" class="validate">
                <label for="icon_prefix">Drug Name</label>
              </div>
              <div class="input-field col s6">
                <input type="date" name="rx_date" id="rx_date" class="datepicker">
                <label for="icon_telephone">Rx Date</label>
              </div>
              <div class="input-field col s6">
                <input type="date" name="pickup_date" id="pickup_date" class="datepicker">
                <label for="icon_telephone">Pick-up Date</label>
              </div>
              <div class="input-field col s6">
                <input type="date" name="exp_date" id="exp_date" class="datepicker" >
                <label for="icon_telephone">Exp Date</label>
              </div>
              <div class="input-field col s6">
                <!-- <i class="fa fa-user-md prefix" aria-hidden="true"></i> -->
                <input id="icon_prefix" name="prescribing_dr" id="prescribing_dr" type="text" class="validate">
                <label for="icon_prefix">Prescribing Physician</label>
              </div>
              <div class="input-field col s6">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_telephone" name="dr_phone" id="dr_phone" type="tel" class="validate">
                <label for="icon_telephone">Telephone</label>
              </div>
              <button class="btn waves-effect waves-light" id="add_rx_btn" type="submit" name="action">Add Prescription
              </button>
            </form>
          </div>
        </form>
      </fieldset>
    </div>
    {{/logged_in}}
    {{^logged_in}}
    <header>
      <nav>
        <div class="nav-wrapper">
          <ul id="userdropdown" class="dropdown-content">
            <li><a href="profile">Profile</a></li>
            <li><a href="settings">Settings</a></li>
            <li class="divider"></li>
            <li><a href="logout">Log Out</a></li>
          </ul>
          <a href="index" class="brand-logo">OPEN FDA</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="dashboard">Dashboard</a></li>
            <li><a href="../druginfo">Drug Info</a></li>
            <li><a href="visuals">Visualizations</a></li>
            <li><a href="professionals">Professionals</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="userdropdown">Account<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <h4 class="addRx">Add a New Prescription</h4>
      <fieldset class="rx_info">
        <legend>Rx Information</legend>
        <form method="POST" action="/dashboard/{{id}}">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="icon_prefix" name="drug_name" id="drug_name" type="text" class="validate">
                  <label for="icon_prefix">Drug Name</label>
                </div>
                <div class="input-field col s6">
                  <input type="date" name="rx_date" id="rx_date" class="datepicker">
                  <label for="icon_telephone">Rx Date</label>
                </div>
                <div class="input-field col s6">
                  <input type="date" name="pickup_date" id="pickup_date" class="datepicker">
                  <label for="icon_telephone">Pick-up Date</label>
                </div>
                <div class="input-field col s6">
                  <input type="date" name="exp_date" id="exp_date" class="datepicker" >
                  <label for="icon_telephone">Exp Date</label>
                </div>
                <div class="input-field col s6">
                  <!-- <i class="fa fa-user-md prefix" aria-hidden="true"></i> -->
                  <input id="icon_prefix" name="prescribing_dr" id="prescribing_dr" type="text" class="validate">
                  <label for="icon_prefix">Prescribing Physician</label>
                </div>
                <div class="input-field col s6">
                  <!-- <i class="material-icons prefix">phone</i> -->
                  <input id="icon_telephone" name="dr_phone" id="dr_phone" type="tel" class="validate">
                  <label for="icon_telephone">Telephone</label>
                </div>
                <button class="btn waves-effect waves-light" id="add_rx_btn" type="submit" name="action">Add Prescription
                </button>
              </div>
            </form>
          </div>
        </form>
      </fieldset>
    </div>
    {{/logged_in}}
  </body>
</html>
