<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FDA info</title>
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="index" class="brand-logo">OPEN FDA</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="index">Dashboard</a></li>
            <li><a href="druginfo">Drug Info</a></li>
            <li><a href="visuals">Visualizations</a></li>
            <li><a href="professionals">Professional</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="row">
      <div class="col s12">
        <!-- <div class="container"> -->
        <div class="container row">
          <div class="input-field col s9">
            <input type="text" id="autocomplete-input" class="autocomplete col s12" placeholder="Search for Drug Name" >
          </div>
          <div class="input-field col s3">
            <button type="submit" class="btn btn-primary" id="searchbtn">Search</button>
          </div>
        </div>
        <div class="container">
          <div class="col s9 l3">
            <fieldset>
              <legend>Generic Name</legend>
              <h5 class="generic"></h5>
            </fieldset>
          </div>
        </div>
        <br>
        <div class="container">
          <div class="col s12">
            <h4>Drug Information</h4>
          </div>
        </div>
        <div class="container">
          <div class="col s10 ">
            <div id="popout" class="section scrollspy">
<!--               <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                <li class="">
                  <div class="collapsible-header">Dosage and How to Administer</div>
                  <div class="collapsible-body" style="display: none;"><p class="dosage"></p></div>
                </li>
                <li class="">
                  <div class="collapsible-header">Indications for Use</div>
                  <div class="collapsible-body" style="display: none;"><p class="indications"></p></div>
                </li>
                <li>
                  <div class="collapsible-header">Contraindications</div>
                  <div class="collapsible-body"><p class="contraindications"></p></div>
                </li>
                <li>
                  <div class="collapsible-header">Warnings</div>
                  <div class="collapsible-body"><p class="warnings_and_cautions"></p></div>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </body>
</html>
