<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/materialize.js"></script>
    <style>
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }
    </style>
  </head>
  <body>
    {{#logged_in}}
    <header>
      <nav>
        <div class="nav-wrapper">
          <ul id="userdropdown" class="dropdown-content">
            <li><a href="profile">Profile</a></li>
            <li><a href="settings">Settings</a></li>
            <li class="divider"></li>
            <li><a href="logout">Log Out</a></li>
          </ul>
          <a href="login" class="brand-logo">OPEN FDA</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="dashboard/{{id}}">Dashboard</a></li>
            <li><a href="druginfo">Drug Info</a></li>
            <li><a href="visuals">Visualizations</a></li>
            <li><a href="professionals">Professionals</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="border-container">
        <br>
        <div class="col-lg-6 center-block">
          <div class="alert alert-dismissible alert-warning">
            <h4>You are logged in!</h4>
          </div>
        </div>
      </div>
    </div>
    {{/logged_in}}
    {{^logged_in}}
    <header>
      <nav>
        <div class="nav-wrapper">
          <ul id="userdropdown" class="dropdown-content">
            <li><a href="profile">Profile</a></li>
            <li><a href="settings">Settings</a></li>
            <li class="divider"></li>
            <li><a href="logout">Log Out</a></li>
          </ul>
          <a href="dashboard" class="brand-logo">OPEN FDA</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!--             <li><a href="dashboard">Dashboard</a></li> -->
            <li><a href="druginfo">Drug Info</a></li>
            <li><a href="visuals">Visualizations</a></li>
            <li><a href="professionals">Professional</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!--     <div class="container">
      <div class="border-container">
        <br>
        <div class="col-lg-6 center-block">
          <div class="well bs-component">
            <form class="form-horizontal" action="/login" method="post">
              <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                  <div class="col-lg-10">
                    <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                </div>
                <div class="col-lg-10">
                  <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s6 offset-s3 center-align">
            <h5>Don't have an account? <a href="signup">Sign Up <i class="fa fa-arrow-up" aria-hidden="true"></i></a></h5>
            <h5><a href="druginfo">Continue without signing up <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<body>
--><div class="section"></div>
<div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
  <form class="col s12" method="post" action="/login">
    <div class="row">
      <div class="input-field col s12">
        <input class="validate" type="email" name="email" id="email">
        <label for="email">Enter your email</label>
      </div>
      <div class="input-field col s12">
        <input class="validate" type="password" name="password" id="password">
        <label for="password">Enter your password</label>
      </div>
      <center>
      <div class="row">
        <button type="submit" name="btn_login" class="col s12 btn btn-large waves-effect teal accent-4">Login</button>
      </div>
      </center>
      <br>
      <label style="float: left;">
        <h5><a class="pink-text" href="signup"><b>Sign Up </b><i class="fa fa-arrow-up" aria-hidden="true"></i></a></h5>
      </label>
      <label style="float: right;">
        <h5><a class="light-blue-text darken-4" href="druginfo"><b>Continue without signing up </b><i class="fa fa-arrow-right" aria-hidden="true"></i></a><h5>
      </label>
    </div>
  </form>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
{{/logged_in}}
</body>
</html>
