<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FDA info</title>
    <link rel="stylesheet" href="/css/materialize.css">
        <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/materialize.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="login" class="brand-logo">OPEN FDA</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="dashboard"><i style="height: 56px;" class="material-icons">view_list</i></a></li>
            <li><a href="druginfo"><i style="height: 56px;" class="material-icons">info</i></a></li>
            <li><a href="visuals"><i style="height: 56px;" class="material-icons">assessment</i></a></li>
            <li><a href="professionals"><i style="height: 56px;" class="material-icons">description</i></a></li>
            <!-- Dropdown Trigger -->
            <li><a href="/" ><i style="height: 56px;" class="material-icons">vpn_key</i></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="border-container">
        <h3>Create An Account</h3>
        <div class="col-lg-6 center-block">
          <div class="well bs-component">
            <form class="form-horizontal" action="/signup" method="post">
              <fieldset>
                <legend>Sign Up</legend>
                <div class="form-group">
                  <div class="col-lg-10">
                    <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up
                </button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
