/* navigation bar */

nav {
  color: #fff;
  background-color: #00bfa5;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

/* search button */
.btn, .btn-large {
    text-decoration: none;
    color: white;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}
